/* body {
    background-color: #111315;
    line-height: 26px;
    margin: 0;
  }  */
 .con-main{
  background-color: #111315;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
 }
 
 .sub{
   width: 835px;
 }
  .contact-head{
    text-align: center;
    color: white;
    font-size:xx-large;
    margin-bottom: 20px;
  }
  .para{
    color: white;
    max-width: 400px;
    text-align: center;
    /* margin-left: 480px; */
  }
  
  
  .ContactForm{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
   form {
    margin-top: 20px;
  } 
   input[type=text]{
    color: rgb(0, 0, 0);
  } 
  input , textarea{
    /* background-color: #1a1d1f; */
    border:1px solid white;
    border-radius: 5px;
    /* color: white; */
  }
  button{
    border:1px solid white;
  }
  
  .formRow {
    margin: 20px 0 20px 10px;
    display: flex;
    column-gap: 20px;
  
  } 
  
   .formInput {
    padding: 15px 10px; 
     margin-left: 20px; 
     /* width: 400px; */
    margin-top: 20px;
  } 
   .contactForm{ 
     background-color:black; 
     align-content: center;
     /* width: 885px; */
     width:70%;
     /* border: solid; */
     /* margin-left: 200px; */
     margin: auto;
     border-radius: 10px;
  } 
  .contact-name{
    width: 400px;
  }
  .contact-mail{
    width: 400px;
  }
   .message{
    width: 840px;
    /* width : 80%; */
    height: 100px;
  } 
  
   .errorMessage {
    color: red;
    font-size: 14px;
    margin-left: 20px;
    padding: 0;
  }
  
  .submit-btn {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color:#dcdada;
    color: rgb(37, 37, 37);
    /* margin-left: 375px; */
  }
  
  @media (max-width: 768px) {
    .submit-message {
      width: 125px;
      margin-left: 200px;
    }
  }